.jogo {
  position: relative;
  overflow: hidden;
  height: 100vh;
  opacity: 1;
}
.layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.areaEsquerda {
  position: absolute;
  height: 100vh;
  left: 0;
  width: 30%;
  background: url(imagens/textura-roxa.png);
  background-size: 100% 100%;
  background-position: left;
  image-rendering: pixelated;
}
.areaMeio {
  position: absolute;
  background: #282828;
  margin-left: 30%;
  left: 0;
  width: 35%;
  background-position: left;
  image-rendering: pixelated;
}
.areaMeioSuperior {
  position: absolute;
  height: 40vh;
  left: 0;
  width: 100%;
  background-image: url(imagens/textura-amarela.png);
  background-size: auto 100%;
  background-position: left;
  image-rendering: pixelated;
}
.areaMeioInferior {
  position: absolute;
  height: 60vh;
  width: 100%;
  background-image: url(imagens/fundo-acampamento-inferior.png);
  bottom: 0;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.areaMeioInferiorCopia {
  position: absolute;
  width: 100%; 
  height: 1200px; 
  top: 0;
  display: flex;
  justify-content: space-between;
}
.acampamento {
  position: absolute;
  height: 600px;
  width: 529.4px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-image: url(imagens/fundo-acampamento.png);
  background-size: contain;
  image-rendering: pixelated;
}
.cachorro {
  position: absolute;
  top: 26%;
  left: 40%;
  width: 50px;
  height: 40px;
  opacity: 0;
  background-size: 100% 100%;
}
.botao-cidade {
  position: absolute;
  top: 3%;
  left:50%;
  width: 180px;
  height: 140px;
  opacity: 0;
  overflow: hidden;
  transform: translate(-50%, 0%);
  z-index: 1;
  background-color: greenyellow;
}
.protagonista {
  position: absolute;
  top: 19%;
  background-image: url(imagens/eu.png);
  left: 26%;
  width: 38px;
  height: 50px;
  background-size: 100% 100%;
}
.maromba {
  position: absolute;
  top: 30%;
  background-image: url(imagens/maromba.png);
  left: 8%;
  width: 50px;
  opacity: 0;
  height: 64px;
  background-size: 100% 100%;
}
.ratos {
  position: absolute;
  top: 42%;
  background-image: url(imagens/ratos.png);
  left: 17%;
  width: 62px;
  height: 64px;
  opacity: 0;
  background-size: 100% 100%;
}
.quadrado {
  position: absolute;
  top: 45%;
  background-image: url(imagens/quadrado.png);
  left: 60%;
  width: 38px;
  opacity: 0;
  height: 58px;
  background-size: 100% 100%;
}
.mane {
  position: absolute;
  top: 77%;
  background-image: url(imagens/mane.png);
  left: 66%;
  width: 30px;
  opacity: 0;
  height: 40px;
  background-size: 100% 100%;
}
.policial {
  position: absolute;
  top: 19%;
  background-image: url(imagens/policial.png);
  left: 65%;
  opacity: 0;
  width: 28px;
  height: 55px;
  background-size: 100% 100%;
}
.luvas {
  position: absolute;
  opacity: 0;
  top: 24%;
  background-image: url(imagens/luvas.png);
  left: 62%;
  width: 180px;
  height: 125px;
  background-size: 100% 100%;
}
.carro {
  position: absolute;
  top: 52%;
  background-image: url(imagens/carro.png);
  left: 2%;
  width: 140px;
  opacity: 0;
  height: 100px;
  background-size: 100% 100%;
}
.predioDireita,
.predioEsquerda,
.predioAbaixo {
  height: 100vh;
  position: absolute;
  image-rendering: pixelated;
}
.predioDireita {
  width: calc(50% - 265px);
  right: 0;
  background-image: url(imagens/fundo-acampamento-predios-direita.png);
  background-size: 100% 100%;
}

.predioEsquerda {
  background-image: url(imagens/fundo-acampamento-predios-esquerda.png);
  left: 0;
  width: calc(50% - 265px);
  background-size: 100% 100%;
}
.areaConfig {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 2;
}

.areaDireita {
  position: absolute;
  overflow-y: auto;
  height: 100vh;
  margin-left: 60%;
  right: 0;
  width: 35%;
  background-image: url(imagens/fundo-vermelho2.png);
}


.separadorEsquerda {
  margin-left: 30%;
}
.separadorDireita {
  left: 0;
}
.separadorEsquerda,
.separadorDireita {
  width: 16px;
  height: 100vh;
  background: url(imagens/barra.png?v=2) repeat-y;
  background: url(imagens/panelGradientTop.png) no-repeat top left,
    url(imagens/panelGradientBottom.png) no-repeat bottom left,
    url(imagens/barra.png?v=2) repeat-y;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 10;
}
.separadorBaixo {
  margin-top: 212px;
  width: 100%;
  height: 16px;
  background: url(imagens/panelHorizontal.png?v=2) repeat-x;
  background: url(imagens/panelGradientLeft.png) no-repeat top left,
    url(imagens/panelGradientRight.png) no-repeat top right,
    url(imagens/panelHorizontal.png?v=2) repeat-x;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.caraAncora {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pontuacao {
  position: absolute;
  left: 0px;
  margin-top: 50px;
  top: 10%;
  width: 100%;
  text-align: center;
  z-index: 3;
  background: rgba(204, 202, 202, 0.4);
  padding: 2px 0px;
  pointer-events: none;
}
.pontuacaoPorSegundo {
  position: absolute;
  left: 0;
  margin-top: 75px;
  top: 10%;
  width: 100%;
  text-align: center;
  z-index: 3;
  background: rgba(204, 202, 202, 0.4);
  padding: 2px 0px;
  pointer-events: none;
}
.caraGrande {
  width: 290px;
  height: 256px;
  background: url(imagens/cabeca-1.png);
  background-size: cover;
  image-rendering: pixelated;
  cursor: url(imagens/icone-luva.png), auto;
  z-index: 10000;
}
.tituloLoja {
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.upgrades {
  margin-left: 16px;
  height: auto; /* Altera a altura para automática para acomodar vários upgrades */
  display: flex; /* Use flexbox para posicionar os upgrades */
  flex-wrap: wrap; /* Permita que os upgrades quebrem para a linha seguinte */
  justify-content: flex-start;
  background: url(imagens/panelHorizontal.png?v=2) repeat-x top;
  background: url(imagens/panelGradientLeft.png) no-repeat top left,
    url(imagens/panelGradientRight.png) no-repeat top right,
    url(imagens/panelHorizontal.png?v=2) repeat-x;
  padding-top: 16px;
}
.upgrade {
  height: 60px;
  position: relative;
  image-rendering: pixelated;
  width: 60px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.loja {
  background: url(imagens/panelHorizontal.png?v=2) repeat-x top;
  background: url(imagens/panelGradientLeft.png) no-repeat top left,
    url(imagens/panelGradientRight.png) no-repeat top right,
    url(imagens/panelHorizontal.png?v=2) repeat-x;
  padding-top: 16px;
}
.configLoja {
  height: 60px;
  background-color: rgb(36, 36, 36);
}
.construcao > div {
  user-select: none;
}
.construcao > .no-select {
  user-select: none;
}
.construcao {
  margin-left: 16px;
  height: 100px;
  background-size: 30px 30px;
  background: url(imagens/barra-compra.png) no-repeat left,
    url(imagens/barra-compra2.png) repeat right;
  position: relative;
  cursor: pointer;
}
.construcao-imagem {
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}
.informacoes {
  display: inline-block;
  position: absolute;
  left: 150px;
  top: 6px;
  right: 0px;
  bottom: 6px;
  padding: 4px;
  text-shadow: 0px 2px 6px #000, 0px 1px 1px #000;
}
.nomeConstrucao {
  position: absolute;
  font-size: 25px;
}
.valorConstrucao {
  position: absolute;
  margin-top: 40px;
  font-size: 18px;
}
.valorConstrucao span {
  color: rgb(214, 179, 63); 
}
.quantidadeConstrucao {
  position: absolute;
  right: 0;
  top: 50%; 
  transform: translateY(-50%);
  margin-right: 15px;
  font-size: 90px;
}
.quantidadeConstrucao span {
  opacity: 0.3;
  color: #000;
  text-shadow: 0px 0px 8px #fff;
}

.particula-sangue {
  width: 30px;
  position: absolute;
  top: 30px;
  left: -30px;
  pointer-events: none;
  offset-path: path("M10, 20 C50,10 100,10 30,500");
  animation: particula-sangue 3s infinite alternate ease-in-out; 
}
.bloqueadorConstrucao {
  background: url(imagens/barra-desbloqueio.png) no-repeat left,
    url(imagens/barra-desbloqueio3.png) no-repeat right,
    url(imagens/barra-desbloqueio2.png) repeat right;
}
.bloqueadorConstrucao2 {
  background: url(imagens/barra-desbloqueio.png) no-repeat left,
    url(imagens/barra-desbloqueio4.png) no-repeat right,
    url(imagens/barra-desbloqueio2.png) no-repeat center;
  background-size: 33% 100%, 20% 100%, 60% 100%;
  image-rendering: pixelated;
  z-index: 999;
}
.valorBloqueador {
  position: absolute;
  width: 149px;
  height: 64.34px;
  background: url(imagens/valor-desbloqueio.png);
  background-size: cover;
  image-rendering: pixelated;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.valorBloqueador span {
  font-size: 30px; 
  color: rgb(225, 179, 29);
}

.correntesBloqueador {
  background: url(imagens/correntes-desbloqueio.png) repeat right;
  width: 100%;
  height: 100%;
}
.correntesBloqueador2 {
  background: url(imagens/correntes-desbloqueio2.png) repeat right;
  width: 100%;
  height: 100%;
}
.correntesBloqueadorParticulas {
  width: 100px;
  height: 100px;
  background: url(imagens/correntes-desbloqueio-particulas2.png) top;
  background-size: cover;
  position: absolute;
  border-radius: 50%;
  z-index: 99999;
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animarParaLado {
  0% {
    transform: translateX(0);
  } 
  100% {
    transform: translateX(-1000px);
  } 
}

/* Aplica a animação à classe */
.animarParaLado {
  animation: animarParaLado 2s linear infinite alternate; 
}

.unlockFrente,
.unlockTras,
.unlockConstrucao {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 300px;
  width: 625px;
  image-rendering: pixelated;
  z-index: 999999999;
  transition: transform 1s ease;
}

.unlockFrente {
  margin-top: -240px;
  background: url(imagens/unlocked.png);
  background-size: cover;
}

.unlockTras {
  background: url(imagens/unlocked2.png);
  background-size: cover;
}

.unlockConstrucao {
  height: 250px;
  width: 380px;
  top: 30%;
  background-size: cover;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  }
}
.unlockFrente.visible,
.unlockTras.visible,
.unlockConstrucao.visible {
  transform: translate(-50%, -50%) scale(1); 
  animation: fadeIn 1s ease;
}
.unlockFrente:not(.visible),
.unlockTras:not(.visible),
.unlockConstrucao:not(.visible) {
  animation: fadeOut 1s ease;
}
.unlockFrente.balancar,
.unlockTras.balancar,
.unlockConstrucao.balancar {
  animation: swing 2s infinite alternate;
}
@keyframes swing {
  0% {
    transform: rotate(0deg) translate(-50%, -50%) scale(1);
    transform-origin: right center; 
  }
  25% {
    transform: rotate(1deg) translate(-50%, -50%) scale(1);
    transform-origin: right center;
  }
  50% {
    transform: rotate(-2deg) translate(-50%, -50%) scale(1);
    transform-origin: left center;
  }
  75% {
    transform: rotate(2deg) translate(-50%, -50%) scale(1);
    transform-origin: left center; 
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%) scale(1);
    transform-origin: left center;
  }
}

.unlockFrente.invisible,
.unlockTras.invisible,
.unlockConstrucao.invisible {
  animation: fadeOutUnlock 1s ease;
}
@keyframes fadeOutUnlock {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.01);
    opacity: 0;
  }
}
@font-face {
  font-family: myFont;
  src: url(imagens/fontes/Merriweather-Bold.ttf);
}

* {
  font-family: myFont;
  color: white;
  text-shadow: 1px 0px 0px #000, -1px 0px 0px #000, 0px 1px 0px #000,
    0px -1px 0px #000, 0px 1px 4px #000;
}
.botao-salvar,
.botao-seguidores,
.botao-conquistas,
.botao-config,
.botao-importar,
.botao-conquistas {
  width: 170px;
  height: 90px;
  position: absolute;
  z-index: 10;
  cursor: pointer;  
  image-rendering: pixelated;
}

.botao-salvar,
.botao-seguidores,
.botao-conquistas {
  left: 16px;
}

.botao-config,
.botao-importar {
  right: 0;
}

.botao-salvar {
  bottom: 18px;
  background: url(imagens/botoes/save-botao.png);
  background-size: 100% 100%;
}

.botao-seguidores {
  bottom: 111px;
  background: url(imagens/botoes/follower-botao.png);
  background-size: 100% 100%;
}

.botao-conquistas {
  bottom: 204px;
  background: url(imagens/botoes/trophy-botao.png);
  background-size: 100% 100%;
}

.botao-config {
  bottom: 111px;
  background: url(imagens/botoes/config-botao.png);
  background-size: 100% 100%;
}

.botao-importar {
  bottom: 18px;
  background: url(imagens/botoes/import-botao.png);
  background-size: 100% 100%;
}

.custom-file-upload {
  display: inline-block;
  position: absolute;
  top: 140px;
  height: 40px;
  width: 92%;
  background: url(imagens/botoes/input-botao.png);
  background-size: 100% 100%;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}

.custom-file-upload span {
  margin-right: 10px;
}

.custom-file-upload input[type="file"] {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}
.modal-importar {
  position: absolute;
  background: url(imagens/botoes/import-tab.png);
  image-rendering: pixelated;
  background-size: 100% 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.botao-aceitar,
.botao-cancelar {
  width: 45%;
  height: 140px;
  cursor: pointer;
}
.botao-aceitar {
  margin-top: 190px;
  background: url(imagens/botoes/ok-botao.png);
  background-size: 100% 100%;
  margin-right: auto;
}
.botao-cancelar {
  margin-top: -140px;
  background: url(imagens/botoes/cancel-botao.png);
  background-size: 100% 100%;
  margin-left: auto;
}
.fechar-modal {
  position: absolute;
  right: 35px;
  background: url(imagens/botoes/close-botao.png);
  height: 25px;
  width: 23px;
  background-size: 100% 100%;
  cursor: pointer;
  float: right;
  font-weight: bold;  
  z-index: 18;
}
.imagem-predio-tab{
  position: absolute;
  image-rendering: pixelated;
  height: 283.38px;
  width: 1000px;
  background: url(imagens/botoes/predio-tab.png);
  background-size: 100% 100%;
}

.modal-predio {
  position: absolute;
  image-rendering: pixelated;
  background-size: 100% 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  height: 283.38px;
  width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.modal-conteudo {
  display: flex;
}

.imagem-predio {
  position: absolute;
  background: url(imagens/predio-arquebispo.png);
  image-rendering: pixelated;
  height: 231.07px;
  width: 350px;
  transform: translate(26%, 10%);
  background-size: 100% 100%;
}

/* .personalizacao {

} */

.modal-abas {
  z-index: 18;
  width: 700px;
  transform: translate(62%, 110%);
  left: 0;
}

.aba {
  z-index: 30;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background: url(imagens/botoes/predio-tab-aba.png);
  background-size: 100% 100%;
}

.aba.ativa {
}

.conteudo-abas {
  position: absolute;
  z-index: 99999999;
  top: 120px;
  left: 460px;
  height: 160px;
  width: 505px;
  border: 1px solid #000; 
  padding: 20px;
}

.conteudo-aba {
  display: none;
}

.conteudo-aba.ativo {
  display: block;
}

.cidade {
  position: absolute;
  height: 2000px;
  width: 4000px;
  background: url(imagens/cidade.png);
  image-rendering: pixelated;
  background-size: 100% 100%;;
}
.regiao {
  position: absolute;
  background: url(imagens/regiao.png);
}
.predio-igreja {
  position: absolute;
  top: 76px;
  left: 924px;
  height: 296px;
  width: 338px;
  background: url(imagens/predio-igreja.png);
  opacity: 0;
  image-rendering: pixelated;
  background-size: 100% 100%;;
}
.predio-gangues {
  position: absolute;
  top: 489px;
  left: 48px;
  height: 201px;
  width: 385px;
  background: url(imagens/predio-gangues.png);
  opacity: 0;
  image-rendering: pixelated;
  background-size: 100% 100%;;
}
.predio-policia {
  position: absolute;
  top: 131px;
  left: 40px;
  height: 352px;
  width: 401px;
  opacity: 0;
  background: url(imagens/predio-policia.png);
  image-rendering: pixelated;
  background-size: 100% 100%;;
}
.botao-voltar {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  z-index: 99999;
  background-color: rgb(47, 189, 255);
  cursor: pointer;
}
body {
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #333; 
  border: 5px solid #1d1d1d; 
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #807e7e; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #3f3f3f; 
  border-radius: 6px; 
}


.fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.botao-configuracao-tela {
  margin-top: 100px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}


.upgrade-modal {
  z-index: 20;
  width: 300px;
  top: 7%;
  right: 35%;
  height: 150px;
  display: none;
  position: fixed;
  background-color: rgb(59, 46, 31);
  margin: 20px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.upgrade-titulo {
  position: relative;
  text-align: justify;
  font-size: 15px; 
  top: -40px;
  margin-left: 61px;   
  
}
.upgrade-descricao {
  position: relative;
  top: -145px;
  margin-left: 10px;   
  height: 100px;
  width: 260px;
  font-size: 14px; 
  text-align: justify;
  line-height: 1.5;
}
.upgrade-descricaoBuff {
  position: relative;
  top: -255px;
  margin-left: 10px; 
  font-size: 12px; 
  text-align: justify;
}
.upgrade-valor {
  position: relative;
  top: -305px;
  text-align: center;
  left: 145px;
  width: 150px;
  height: 25px;
  font-size: 14px; 
  line-height: 1.5;
  text-align: justify;
  color: rgb(225, 179, 29);
}
.upgrade-imagem {
  top: -135px;
  left: 3px;
  height: 50px;
  width: 50px;
  background-size: 100% 100%;
  position: relative;
}